.main-nav {
    background-color: #dc143c;
    height: 70px;
}

.btn-primary-cs {
    background-color: #dc143c;
    color: #fff;
    
}

 .form-control {
    background-color: lightgray;
}

.card {
    border-radius: 0;
}